$white: #fff;
$bg-white-1: #f2f0f1;
$bg-white-2: #f0f0f0;
$text-black: #000;
$text-gray: #00000099;

// font family
$primary-font: var(--primary-font);
$secondary-font: var(--secondary-font);

// Screen Breakpoints
$desktop-xxl: 1920px;
$desktop-xl: 1600px;
$desktop-l: 1440px;
$desktop-m: 1280px;
$desktop-s: 1200px;
$tablet-l: 1024px;
$tablet-m: 992px;
$tablet-s: 768px;
$mobile-l: 640px;
$mobile-m: 576px;
$mobile-s: 480px;
$mobile-xs: 320px;

// font-sizes
$heading: 64px;
$font-xxl: 48px;
$font-xl: 36px;
$font-l: 24px;
$font-m: 18px;
$font-s: 16px;
$font-xs: 14px;
$font-xxs: 12px;
